.container {
  font-family: Helvetica, Roboto, sans-serif;
  margin: 30px 30px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

h2 {
  font-size: 40px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0D7ED7;
}

p,
a {
  font-size: 18px;
}

img {
  width: 200px;
  height: 200px;
}

.phone {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 25px;
  color: gray;
}

.site {
  margin-right: 25px;
}

.company {
  margin-bottom: 20px;
}

.requisites {
  margin-bottom: 40px;
}

.company,
.requisites {
  display: block;
}
