<div class="container">
    <div class="outer-box">
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <div class="texts">
                <p id="welcome">Добро пожаловать</p>
                <p id="label-auth">Авторизуйтесь</p>
            </div>
            <div class="form-group" id="email-box">
                <input
                    type="text"
                    class="input-form"
                    formControlName="email"
                    placeholder="Email"
                />
            </div>
            <div class="form-group" id="password-box">
                <input
                    type="password"
                    class="input-form"
                    formControlName="password"
                    placeholder="Password"
                />
            </div>
            <div class="form-group" id="btn-box">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
