<div class="container">
    <h1>О компании Индивидуальный предприниматель {{ fullname }}</h1>
    <div class="cards">
        <div class="card">
            <img
                class="card-image"
                src="https://www.techcult.ru/content/2015/2723/vozdushnye-shary_1_sm.jpg"
                alt=""
            />
            <p class="card-name">Клубника на улице Рамбла</p>
            <p class="card-price">139,99 руб.</p>
        </div>
        <div class="card">
            <img
                class="card-image"
                src="https://womanadvice.ru/sites/default/files/49/articles_main_big/2017-08-17_1657/luchshie_plyazhi_indonezii.jpg"
                alt=""
            />
            <p class="card-name">Золотой пляж</p>
            <p class="card-price">35,89 руб.</p>
        </div>
        <div class="card">
            <img
                class="card-image"
                src="https://www.techcult.ru/content/2015/2723/vozdushnye-shary_1_sm.jpg"
                alt=""
            />
            <p class="card-name">Экскурсии</p>
            <p class="card-price">100 руб/час.</p>
        </div>
    </div>
    <div class="wiki">
        <p>
            Испа́ния (исп. и галис. España), официально Короле́вство Испа́ния (исп.
            и галис. Reino de España МФА [ˈreino ðe esˈpaɲa]) — суверенное
            государство на юго-западе Европы и частично в Африке, член
            Европейского союза и НАТО. Испания занимает бо́льшую часть (80 %)
            Пиренейского полуострова, а также Канарские и Балеарские острова,
            имеет общую площадь 504 782 км² (вместе с небольшими суверенными
            территориями на африканском побережье, городами Сеута и Мелилья),
            являясь четвёртой по величине страной в Европе (после России,
            Украины и Франции).
        </p>
        <a href="#">Показать всё</a>
    </div>
    <div class="socials"><!--Сюда нужно добавить социальные кнопки--></div>
</div>
