@font-face {
    font-family: 'fontello';
    src: url('../../../fonts/fontello.eot?98367388');
    src: url('../../../fonts/fontello.eot?98367388#iefix')
            format('embedded-opentype'),
        url('../../../fonts/fontello.woff2?98367388') format('woff2'),
        url('../../../fonts/fontello.woff?98367388') format('woff'),
        url('../../../fonts/fontello.ttf?98367388') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']::before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
}

.icon-twitter::before {
    content: '\f099';
}

.icon-facebook::before {
    content: '\f09a';
}

.icon-vkontakte::before {
    content: '\f189';
}

.icon-mail-alt::before {
    content: '\f0e0';
}

.icon-gplus::before {
    content: '\f0d5';
}

h1 {
    font-size: 30px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0d7ed7;
}

.container {
    font-family: Helvetica, Roboto, sans-serif;
    margin: 30px 30px 0;
}

.cards {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
}

.card-image {
    width: 350px;
}

.card-name {
    font-weight: bold;
}

.socials > a {
    margin-right: 10px;
    padding: 1px 7px;
    background: #e6e6e6;
    color: black;
}

.wiki {
    margin-bottom: 30px;
}

.socials > a:hover {
    background: lightgray;
}

@media (max-width: 768px) {
    .cards {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .card-image {
        width: 400px;
    }

    .card {
        border: 1px solid lightgray;
        margin: 10px;
        padding: 10px;
    }

    .container * {
        text-align: center;
    }
}
