<div class="container">
    <h1>О компании Индивидуальный предприниматель {{ userDetails.name }}</h1>
    <div class="cards">
        <div class="card">
            <img
                class="card-image"
                src="{{userDetails.card1.image}}"
                alt=""
            />
            <p class="card-name">{{userDetails.card1.name}}</p>
            <p class="card-price">{{userDetails.card1.price}}</p>
        </div>
        <div class="card">
            <img
                class="card-image"
                src="{{userDetails.card2.image}}"
                alt=""
            />
            <p class="card-name">{{userDetails.card2.name}}</p>
            <p class="card-price">{{userDetails.card2.price}}</p>
        </div>
        <div class="card">
            <img
                class="card-image"
                src="{{userDetails.card3.image}}"
                alt=""
            />
            <p class="card-name">{{userDetails.card3.name}}</p>
            <p class="card-price">{{userDetails.card3.price}}</p>
        </div>
    </div>
    <div class="wiki">
        <p>
            Испа́ния (исп. и галис. España), официально Короле́вство Испа́ния (исп.
            и галис. Reino de España МФА [ˈreino ðe esˈpaɲa]) — суверенное
            государство на юго-западе Европы и частично в Африке, член
            Европейского союза и НАТО. Испания занимает бо́льшую часть (80 %)
            Пиренейского полуострова, а также Канарские и Балеарские острова,
            имеет общую площадь 504 782 км² (вместе с небольшими суверенными
            территориями на африканском побережье, городами Сеута и Мелилья),
            являясь четвёртой по величине страной в Европе (после России,
            Украины и Франции).
        </p>
        <a href="http://www.wikipedia.org">Показать всё</a>
    </div>
    <div class="socials">
        <a href="https://www.twitter.com"><span class="icon-twitter"></span> Твитнуть</a>
        <a href="https://www.facebook.com"><span class="icon-facebook"></span> Подписаться 176</a>
        <a href="https://www.vk.com"><span class="icon-vkontakte"></span></a>
        <a href="https://www.plus.google.com"><span class="icon-gplus"></span></a>
        <a href="mailto:mbank@ban.org"><span class="icon-mail-alt"></span> Отправить</a>
    </div>
</div>
